@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    --rounded-radius: 5px;
}

#v15a {
	--accent-color: rgb(255, 191, 11);
	--text-color: var(--accent-color);
	--accent-text-color: rgb(0, 0, 0);
	--darker-accent-color: rgb(216, 160, 7);
	--focus-accent-color: rgb(199, 147, 4);
	--background-color: rgb(10, 10, 10);
	--selection-color: rgba(255, 191, 11, 0.733);
	--link-color: rgb(255, 255, 255);
	--hover-link-color: rgb(235, 235, 235);
	--focus-link-color: rgb(218, 218, 218);
	--sign-up-shadow: rgba(255, 190, 10, 0.6);
}

.content {
	min-height: 100vh;
	padding-top: 80px;
    padding-bottom: 20px;
	text-align: center;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Jua', sans-serif;
	letter-spacing: 1px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--accent-color);
	width: 100vw;
    height: 70px;
	z-index: 9;
	display: table-cell;
	vertical-align: middle;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.header .home {
	padding: 5px;
	background-color: transparent;
	transition: background-color 0.2s ease;
}

.header .home:hover {
	background-color: var(--darker-accent-color)
}

.header .home:focus {
	background-color: var(--focus-accent-color)
}

.header .logo {
	height: 60px;
	margin-right: 5px;
}

.accent-invert {
	
}

.accent-invert::selection {
	background: var(--selection-color-accent-icon-invert);
}

.theme-invert {
	filter: invert(var(--theme-icon-invert));
}

.theme-invert::selection {
	background: var(--selection-color-theme-icon-invert);
}

::selection {
	background: var(--selection-color);
	color: white;
}

.hidden {
	display: none;
}

.inline {
	display: inline;
}

.bold {
	font-weight: 700;
}

a {
	color: var(--link-color);
	transition: color 0.4s, text-shadow 0.4s;
}

a:hover {
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	color: var(--hover-link-color);
}

a:focus {
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	color: var(--focus-link-color);
}

.animate {
	transform: scale(1);
	opacity: 1;
}

.content .row {
	margin-bottom: 15px
}

.button {
	background-color: var(--accent-color);
	color: var(--accent-text-color);
	font-size: 15px;
	border-radius: var(--rounded-radius);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	transition: background-color 0.6s, color 0.2s, box-shadow 0.6s, opacity 0.4s ease;
}

#theme-button.button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.button.white-outline {
	border: solid 2px var(--focus-accent-color);
}

.button:hover {
	background-color: var(--darker-accent-color);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	color: var(--accent-text-color);
	text-decoration: none;
}

.button:focus {
	background-color: var(--focus-accent-color);
	color: var(--accent-text-color);
	outline: none;
}

.button.sign-up-button {
	margin-top: 20px;
	color: var(--accent-color);
	border: solid 1px var(--accent-color);
	border-radius: 100em;
	font-size: 22px;
	padding: 8px 30px 8px 30px;
	background-color: var(--background-color);
	box-shadow: 0px 0px 15px var(--sign-up-shadow);
}

.button.sign-up-button:hover{
	background-color: var(--accent-color);
	color:black;
	box-shadow: none;
}

.button img {
	margin-right: 4px;
	margin-bottom: 1px;
	width: 24px;
}

.footer {
	text-align: center;
	background-color: var(--accent-color);
	padding: 40px;
	color: var(--accent-text-color);
	box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

.footer #source-button {
	margin-left: 10px;
	padding: 10px;
}